root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Windows PowerShell 5.1 需要带 BOM 的 UTF-8 才能正确读取中文
[*.ps1]
charset = utf-8-bom
indent_size = 4
